html,
body {
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
}
ul {
  list-style-type: none;  
  margin-right: 2%;
}
.songs {
  font-size: larger;
}

.song {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: red;
}
.playlist {
  color: red;
  display: flex;
    flex-direction: column;
    align-items: center;
}
.playlists {
    font-size: larger;
    
}
img {
    margin-right: 35%;
}

.selected {
    border: 3px solid green;
    border-radius: 15px;
}